* {
		
}

body {
	background-color: #bdbdbd;
	color: #424242;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}

h1, h2, h3, h4 {
	font-weight: 400;
}

h4 {
	margin-bottom: 10px;
}

hr {
	 border: none;
   background-color: #2e7d3a;
   height: 2px;
}

.header {
	width: 100%;
	text-align: right;
}

.logo {
	display: inline-block;
	float: left;
	margin-left: .5em;
}

.logo img {
	width: 50px;
	display: block;
}

.title {
	margin-left: auto;
	text-align: right;
	margin-right: .5em;
	display: inline-block;
}

h1 { font-family: "Roboto Slab", sans-serif }

.title h1 {
	color: #6c122c;
	font-size: 20px;
	font-weight: 700;
}

.title h3 {
	font-size: 18px;
}

.media-links {
	display: none;
	margin-left: .5em;
	width: 344px;        /* Remove to make media links vertical. */
	text-align: center;  /* Remove to make media links vertical. */
	float: left;
	cursor: default;
}

.media {
	width: 26%;             /* Remove to make media links vertical. */
	display: inline-block;  /* Remove to make media links vertical. */
	text-align: left;
	margin: .25em .5em;
}

.media h5 {
	display: inline;
	line-height: 40px;
	vertical-align: middle;
}

.media-icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	text-align: left;
	margin-right: .5em;
}

.media-icon img {
	line-height: 40px;
	vertical-align: middle;
}

.media-icon a {
	cursor: pointer;
	display: inline-block;
}

#fb-name,
#tw-name,
#inst-name { 
	opacity: 0;
	cursor: default;
}

.landing {
	width: 100%;
	display: none;
	text-align: center;
}

.landing img {
	width: 100%;
	margin: 0 auto;
	display: block;
	border-top-right-radius: .5em;
	border-top-left-radius: .5em;
}

.featured {
	display: none;
	width: 100%;
	background-color: #6c122c;
	box-shadow: inset 0px -11px 9px -5px rgba(0,0,0,0.75),
							inset 0px 11px 9px -5px rgba(0,0,0,0.75);
	text-align: center;
}

.featured-icon {
	width: 44%;
	padding: .5em;
	margin-right: .5em;
	margin-left: .5em;
	display: inline-block;
	box-sizing: border-box;
}

.featured-icon:first-child { margin-top: .75em; }
.featured-icon:last-child { margin-bottom: .75em; }

.featured-icon img {
	width: 100%;
	border-radius: .5em;
	max-width: 125px;
}

.article hr {
	 margin-top: 0;
   width: 185px;
   margin-left: 0;
}

.lngc {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.lngc h3 {
	font-weight: 700;
	font-family: "Roboto", sans-serif;
}

iframe {
	border-radius: .5em;
	border: 4px solid #2e7d3a;
	width: 275px;
	height: 158px;
	margin-left: .5em;
	margin-right: .5em;
	box-sizing: border-box;
}

.lngc-video {
	max-width: 560px;
	max-height: 315px;
	margin: 0 auto;
}

.articles {
	text-align: center;
	width: 100%;
	padding-top: .75em;
	padding-bottom: .75em;
	background-color: #6c122c;
	box-shadow: inset 0px -11px 9px -5px rgba(0,0,0,0.75),
							inset 0px 11px 9px -5px rgba(0,0,0,0.75);
	color: #bdbdbd;
}

.article {
	text-align: left;
	width: 100%;
	margin: .5em auto;
	vertical-align: top;
	font-family: "Roboto", sans-serif;
}

.article h4 {
	font-family: "Roboto Slab", sans-serif;
}

.article p {
	padding-right: 1em;
}

.article form {
	text-align: center;
	height: 73px;
}

#donate {
	position: relative;
	cursor: pointer;
	background-color: #2e7d3a;
	color: #bdbdbd;
	width: 150px;
	height: 65px;
	border-radius: .5em;
	border: 1px solid #1b5320;
	font-size: 24px;
	font-family: "Roboto Slab", sans-serif;
	box-shadow: 0px 8px 0px 0px #1b5320;
}

#donate:focus { outline: none;}
#donate:active {
	position: relative;
	top: 5px;
	box-shadow: 0 4px 0 0 #1b5320;
}

.team-header {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-top: 3px solid #2e7d3a;
	border-bottom: 3px solid #2e7d3a;
}

.team-header h1 {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 4px;
	font-size: 24px;
}

.team-header hr {
	width: 24%;
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

.team {
	width: 100%;
	padding: 1em;
	text-align: center;
	background-color: #6c122c;
	box-shadow: inset 0px -11px 9px -5px rgba(0,0,0,0.75),
							inset 0px 11px 9px -5px rgba(0,0,0,0.75);
	color: #bdbdbd;
}

.member h3 {
	text-align: center;
	margin-top: .5em;
	font-size: 20px;
	font-family: "Roboto Slab", sans-serif;
	margin-bottom: .5em;
}

.member h5 {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
}

.member {
	display: inline-block;
	margin: .5em;
	width: 171px;
}

.portrait-left,
.portrait-right {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.portrait-left img,
.portrait-right img {
	max-width: 150px;
	border-radius: .5em;
}

.summary {
	width: 75%;
	display: inline-block;
	box-sizing: border-box;
	display: none;
	text-align: justify;
	font-family: "Roboto", sans-serif;
}

.summary p { 
	margin: 0; 
}

@media screen and (min-width: 425px) {
	.featured-icon { width: 20%; }

	.title h1 { font-size: 27px; }
	.title h3 { font-size: 20px; }
	iframe { width: 389px; height: 222px; }
	.team-header h1 {
		font-size: 28px;
		letter-spacing: 6px;
	}
}

@media screen and (min-width: 560px) {
	.landing { display: block; }
	.title h1 { font-size: 36px; }
	.title h3 { font-size: 24px; }
	.media-links { display: inline-block; }
	h4 { font-size: 18px; }
	iframe { 
		width: 518px;
		height: 295px;
	}
}

@media screen and (min-width: 700px) { 
	iframe { width: 554px; height: 315px; }
}

@media screen and (min-width: 830px) {
	.team-header { border: none; }
	.team-header h1 { margin-bottom: 0; }
	.team-header hr { display: block; }
	.team { 
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		border-radius: .5em;
		background-color: #e0e0e0;
		color: #424242;
		box-shadow: 0 0 11px 2px rgba(0,0,0,0.75);
	}
	.member { width: 98%;}
	.summary { display: inline-block; }
	.portrait-left,
	.portrait-right { width: 150px; }

	.portrait-left { float: left; margin-right: .5em; }
	.portrait-right { float: right; margin-left: .5em; }
}

@media screen and (min-width: 850px) {
	.article {
		display: inline-block;
		width: 30%;
	}
}

@media screen and (min-width: 1000px) {
	.team {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}

