* {
	
}

body {
	background-color: #bdbdbd;
	color: #424242;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}

h4 {
	font-weight: 400;
	margin-bottom: 10px;
}

.title-container {
	width: 100%;
	display: flex;
}

.logo {
	margin-right: 2em;
	margin-left: 1.5em;
	margin-top: .5em;
}

.logo img {
	min-width: 75px;
	max-width: 100px;
	width: 100%;
}

.title {
	margin-left: auto;
	width: 80%;
	text-align: right;
	margin-right: .5em;
}

.title h1 {
	color: #6c122c;
	font-size: 20px;
	font-weight: 400;
}

.title h3 {
	font-size: 16px;
	font-weight: 400;
}

.media {
	width: 20%;
	display: flex;
	margin-left: auto;
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
}

.media-icon {
	width: 33.33%;
}

.media-icon a {
	cursor: pointer;
}

.landing {
	width: 100%;
	display: none;
	text-align: center;
}

.landing img {
	width: 100%;
	margin: 0 auto;
	display: block;
	border-top-right-radius: .5em;
	border-top-left-radius: .5em;
}

.featured {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #6c122c;
	box-shadow: inset 0px -11px 9px -5px rgba(0,0,0,0.75),
							inset 0px 11px 9px -5px rgba(0,0,0,0.75);
}

.featured-group {
	width: 100%;
	display: flex;
}

.featured-group:first-child {
	margin-top: .75em;
	margin-bottom: .75em;
}

.featured-group:last-child {
	margin-bottom: .75em;
}

.featured-icon {
	text-align: center;
	width: 100%;
	margin-right: .5em;
	margin-left: .5em;
}

.featured-icon img {
	width: 100%;
	border-radius: .5em;
	max-width: 125px;
}

hr {
	 margin-top: 0;
	 border: none;
   background-color: #2e7d3a;
   height: 2px;
   width: 185px;
   margin-left: 0;
}

.articles {
	margin: 0 1em;
}

.article {
	width: 100%;
}

@media screen and (min-width: 425px) {
	.featured-group {
		width: 50%;
		margin-top: .75em;
		margin-bottom: .75em;
	}

	.title h1 { font-size: 24px; }
	.title h3 { font-size: 20px; }
}

@media screen and (min-width: 560px) {
	.landing {
		display: block;
	}

	.title h1 { font-size: 36px; }
	.title h3 { font-size: 24px; }
	h4 { font-size: 18px; }
}

@media screen and (min-width: 700px) {
	.article {
		margin-left: 1em;
		margin-right: 1em;
	}
	.articles {
		display: flex;
	}
}